body {
    background-color: #f1f1f1;
}

div {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana;
}

img {
    width: 210px;
}

h1 {
    font-size: 22px;
    border: 4px solid #606062;
    color: #606062;
    padding: 8px;
}

h2 {
    font-size: 21px;
    color: #7a797b;
    margin: 35px 20px;
}

h3 {
    color: #606062 ;
    font-weight:normal;
    border-top: 2px solid #606062;
    border-bottom: 2px solid #606062;
    font-size: 17px;
    padding: 10px 0;
    margin-top: 30px;
}

p {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    color: #606062;
    margin-bottom: 34px;
}

span {
    font-weight:bold;
}

a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color:#25D366;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 15px;
}